<style>
    h3{
        color: rgb(49, 47, 47);
        text-align: center;
    }
    a{
        float: right;
        padding: 7px 7px 7px 7px;
        width: 100px;
        text-align: center;
        text-decoration: none;
        border : 2px solid gray;
        margin-left: 3px;
        margin-right: 3px;
        color: black;
    }
    a:hover{
        background-color:darkgrey;
        color: white;
    }
    .login{
        margin-right: 60px;
    }
</style>

<html>
    <head>
        <title>LOGOUT</title>
    </head>
    <body>
        <a href="{% url 'login' %}" class="login">Login</a>
        <a href="{% url 'homepage' %}">Home</a>
        <h3>You have been logged out.Please LogIn Again.</h3>
    </body>
</html>